{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    {% if hasUploads == true %}
        <a href="/convert.php">You have unconverted images, click here to add them to the gallery</a>
    {% endif %}
    <div class="grid">
        {% set big_array = [4, 8, 3, 5, 8, 9] %}
        {% set count = 0 %}
        {% set compare = 0 %}

        {% for key, filename in images %}
            {% if key == compare %}
                <div class="grid-item span-2">
                    <a href="public/images/{{ filename }}" target="_blank"><img src="public/thumbnail/400x400_{{ filename }}" alt=""></a>
                </div>
                {% set compare = compare + big_array[count] %}
                {% set count = count + 1 %}
            {% else %}
                <div class="grid-item">
                    <a href="public/images/{{ filename }}" target="_blank"><img src="public/thumbnail/200x200_{{ filename }}" alt=""></a>
                </div>
            {% endif %}

            {% if count > 5 %}
                {% set count = 0 %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
