@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #D3D3D3FF;
    margin: 0;
    padding: 0;
    /*padding-left: 260px;*/
}

a {
    color: #676767;
}

a:hover {
    color: #87CEFAFF;
}

aside {
    background-color: #ffffff;
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

aside img {
    border-radius: 50%;
    margin: 10%;
    width: 80%;
}

nav a {
    padding: .75em 1em .75em 2.5em;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 13px 0;
    width: 100%;
    box-sizing: border-box;
}

footer div {
    justify-content: center;
    display: flex;
}

footer a {
    margin: 14px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 20px;
}

.grid-item {
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .8);
}

.grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.span-2 {
    grid-column: span 2;
    grid-row: span 2;
}

hr {
    width: 80%;
    height: 1px;
    border: none;
    background-color: #676767;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .8);
    padding: 20px;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.column {
    float: left;
    width: 50%;
    flex-grow: 1;
    margin: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

main {
    padding: 20px;
}

.contact {
    max-width: 860px;
    /*margin: auto;*/
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 209px;
    max-height: 209px;
}

.mb-20 {
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .row {
        display: inherit;
        height: auto;
    }

    .column {
        width: 100%;
    }
}